<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${post.title}">Blog Page</title>
<link rel="stylesheet" th:href="@{/style/homeStyle.css}">
</head>
<body>
	<div class="menu-bar">
		<a href="/">Home</a>
		<div class="menu-bar-right">
			<a href="/register">Register</a> <a href="/login">Login</a>
		</div>
	</div>

	<div class="container">
		<h1 th:text="${post.title}">Blog Title</h1>
		<p>
			Content: <span th:text="${post.content}">No content available</span>
		</p>
		<p>
			Author: <span th:if="${post.author != null}"
				th:text="${post.author.name}">No author available</span>
		</p>
		<p>
			Published Date: <span
				th:text="${#dates.format(post.published_at, 'yyyy-MM-dd HH:mm:ss')}">Unknown
				date</span>
		</p>
		<p>
			Tags: <span th:if="${post.tags !=null}"> <span
				th:each="tag : ${post.tags}"> <span th:text="${tag.name}"></span>
					<span th:if="${post.tags.get(post.tags.size()-1)!=tag}">,</span>
			</span>
			</span> <span th:if="${post.tags.size() == 0}">No tags</span>
		</p>
	</div>
</body>
</html>
