<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home Page</title>
<link rel="stylesheet" th:href="@{/style/homeStyle.css}" />
</head>
<body>
	<div class="menu-bar">
		<a href="/">Home</a>
		<div class="menu-bar-right">
			<a href="/register">Register</a> <a href="/login">Login</a>
			<form th:action="@{/search}" method="get">
				<input type="text" name="q" placeholder="Search blog posts" />
				<button type="submit">Search</button>
			</form>
			<form th:action="@{/sortbypublisheddate}" method="get">
				<input type="text" name="q" placeholder="Type newest or oldest" />
				<button type="submit">Sort blog posts using the published
					DateTime</button>
			</form>
			<a href="/post" class="green-button">Create New Blog</a>

		</div>
	</div>

	<div th:if="${#lists.size(posts) == 0}">
		<h3>There is no blog</h3>
	</div>
	<div th:if="${#lists.size(posts) > 0}">
		<div class="container">
			<table border="1">
				<tr>
					<td>Title</td>
					<td>Excerpt</td>
					<td>Author</td>
					<td>Published Date</td>
					<td>Tags</td>
					<td>Show Post</td>
				</tr>
				<tr th:each="post : ${posts}">
					<td th:text="${post.title}"></td>
					<td th:text="${post.excerpt}"></td>
					<td>
						<div th:if="${post.author != null}">
							<span th:text="${post.author.name}"></span>
						</div>
					</td>
					<td th:text="${#dates.format(post.published_at, 'yyyy-MM-dd')}"></td>
					<td><span th:if="${post.tags !=null}"> <span
							th:each="tag : ${post.tags}"> <span th:text="${tag.name}"></span>
								<span th:if="${post.tags.get(post.tags.size()-1)!=tag}">,</span>
						</span>
					</span> <span th:if="${post.tags.size() == 0}">No tags</span></td>
					<td><a th:href="@{'/blogpost/' + ${post.id}}"
						class="read-button">Read More</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
