<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/style/style.css}" >
</head>
<body>
<div class="container">
    <h1>Login </h1>
    <div class="form-container">
        <form th:action="@{/user/userpage}" method="post">
        	<div th:if="${param.error}">
		        <i>Sorry! You entered invalid username/password</i>
		    </div>
            <input type="email" placeholder="Email" name="username" required="required"><br>
            <input type="password" placeholder="Password" name="password" required="required"><br>
            <br>
            <button class="button" type="submit">Submit</button>
        </form>
        <p>
            Don't have an account? <a th:href="@{/register}" >Create one</a>
        </p>
    </div>
</div>
</body>
</html>
