<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/style/style.css}" >
</head>
<body>
<div class="container">
    <h1>Login Page</h1>
    <div class="form-container">
        <form th:action="@{/userpage}" method="post">
            <input type="email" placeholder="Email" name="email" required="required"><br>
            <input type="password" placeholder="Password" name="password" required="required"><br>
            <br>
            <button class="button" type="submit">Login</button>
        </form>
        <p>
            Don't have an account? <a th:href="@{/register}">Register</a>
        </p>
    </div>
</div>
</body>
</html>
